/** @format */

.pl {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-color: black;
	color: white;
	font-family: Helvetica;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	padding-bottom: 100px;
}

.pl_container {
	display: flex;
	align-items: flex-start;
	height: 100%;
	width: 100%;
	justify-content: flex-end;
	flex: 1;
}
.pl_content {
	width: 100%;
	overflow: hidden;
	height: 100%;
	margin-top: 50px;
}
.main_container {
	position: relative;
}

.pl_header {
	width: calc(100% - 20px);
	height: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.playList_play {
	opacity: 0.8;
	cursor: pointer;
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60px;
	box-shadow: rgb(19, 19, 19) 0px 2px 4px 0px, rgb(0, 0, 0) 0px 2px 16px 0px;
	width: 60px;
	background-color: rgb(255, 72, 0);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pl_headerContainer {
	width: calc(100% - 20px);
	height: 100%;
	padding: 20px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

.pl_image {
	height: 300px;
	position: relative;
	width: 300px;
	overflow: hidden;
	border-radius: 20px;
}

.pl_image img {
	height: 300px;
	width: 300px;
	overflow: hidden;
	border-radius: 20px;
}

.pl_info {
	display: flex;
	align-items: flex-start;
	margin: 30px;
	justify-content: flex-end;
	flex-direction: column;
	color: grey;
}

.pl_infoType {
	text-transform: uppercase;
	margin: 10px;
}

.pl_infoName {
	font-size: 50px;
	color: white;
	font-weight: bold;
	margin-left: 10px;
}

.pl_infoOwner {
	margin: 10px;
}

.pl_infoOwner span {
	color: white;
}

.pl_infoDescription {
	margin: 10px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 12px;
}

@media only screen and (max-width: 850px) {
	.pl_headerContainer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (max-width: 570px) {
	.pl_infoName {
		font-size: 30px;
	}

	.pl_image,
	.pl_image img {
		height: 250px;
		width: 250px;
	}

	.pl_header {
		margin: 0px;
		padding: 0px;
		margin-top: 30px;
	}

	.pl_headerContainer {
		margin: 0px;
		padding: 0;
	}
}

@media only screen and (max-width: 350px) {
	.pl_infoName {
		font-size: 20px;
	}
}
