/** @format */

.sidebar {
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	width: 15%;
}

.sidebar_option {
	display: flex;
	padding: 5px;
	align-items: center;
	justify-content: flex-start;
	font-size: 23px;
}

.sidebar_option div {
	margin-left: 20px;
	font-size: 14px;
	font-weight: 600;
}

.sidebarContainer {
	height: 100%;
	width: 100%;
	padding: 30px 10px;
}

.sidebar_img {
	height: 30px;
	width: 30px;
	margin-left: 0px;
	overflow: hidden;
}

.sidebar_img img {
	height: 30px;
	width: 30px;
	overflow: hidden;
}

.sidebar_title {
	margin: 10px;
	font-weight: 600;
}
