/** @format */

.a {
	height: 350px;
	width: 250px;
	cursor: pointer;
	display: flex;
	align-items: center;
	box-shadow: rgb(19, 19, 19) 0px 2px 4px 0px, rgb(0, 0, 0) 0px 2px 16px 0px;
	justify-content: center;
	background: rgb(27, 27, 27);
	transition: all ease 0.2s;
	border-radius: 5px;
	margin: 20px 10px;
}

.a_container img {
	height: 200px;
	box-shadow: rgb(19, 19, 19) 0px 2px 4px 0px, rgb(0, 0, 0) 0px 2px 16px 0px;
	width: 200px;
	border-radius: 50%;
}

.a_name {
	margin-top: 10px;
	font-size: 20px;
	transition: all 0.4s ease;
	font-weight: 600;
	padding: 5px 5px;
}

.a_type {
	padding: 5px 5px;
	font-size: 20px;
	transition: all 0.4s ease;
	font-weight: 600;
	color: grey;
}

@media only screen and (max-width: 750px) {
	.a {
		height: 245px;
		width: 175px;
	}

	.a_container img {
		height: 140px;
		width: 140px;
	}

	.a_type,
	.a_name {
		font-size: 14px;
	}
}

.a:hover {
	background: rgb(58, 58, 58);
}

.a_container {
	height: 400px;
	width: 300px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	transition: all 0.2s ease;
}
