/** @format */

.searchSong {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	flex-direction: row;
	cursor: pointer;
}

.searchSong:hover {
	background: rgb(58, 58, 58);
}

.searchSong_name {
	width: 85%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.f_image {
	height: 50px;
	width: 50px;
	overflow: hidden;
}

.searchSong_image img {
	height: 50px;
	width: 50px;
}

.searchSong_info {
	display: flex;
	align-items: flex-start;
	margin: 10px;
	justify-content: center;
	flex-direction: column;
}

.searchSong_fname {
	font-size: 14px;
	width: 100%;
	font-weight: 700;
}

.searchSong_artist {
	font-size: 12px;
	color: grey;
}

.searchSong_duration {
	color: grey;
}

@media only screen and (max-width: 750px) {
	.searchSong {
		padding: 0;
	}
	.searchSong_name {
		font-size: 12px;
		padding: 0px;
		margin: 10px 0px;
	}

	.searchSong_artist {
		font-size: 8px;
	}

	.searchSong_album {
		font-size: 10px;
	}
}

@media only screen and (max-width: 550px) {
	.searchSong_image,
	.searchSong_image img {
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		border-radius: 50%;
	}

	.searchSong_name {
		width: 100%;
	}

	.searchSong_album {
		width: 0;
		visibility: hidden;
	}
}
