/** @format */

.s {
	height: 320px;
	width: 220px;
	margin: 20px 10px;
	cursor: pointer;
}

.s_container {
	height: 320px;
	position: relative;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	overflow: hidden;
	transition: all 0.2s ease;
	width: 220px;
	transition: all ease 0.2s;
	box-shadow: rgb(19, 19, 19) 0px 2px 4px 0px, rgb(0, 0, 0) 0px 2px 16px 0px;
}

.s_container:hover {
	background: rgb(48, 48, 48);
}

.s_container img {
	box-shadow: rgb(19, 19, 19) 0px 2px 4px 0px, rgb(0, 0, 0) 0px 2px 16px 0px;
	height: 200px;
	width: 200px;
	border-radius: 10px;
}

.s_name {
	font-size: 14px;
	transition: all 0.4s ease;
	font-weight: 600;
	padding: 5px 5px;
}

.s_artist {
	padding: 5px 5px;
	font-size: 12px;
	transition: all 0.4s ease;
	font-weight: 600;
	color: grey;
}

.play {
	opacity: 0;
	cursor: pointer;
	position: absolute;
	z-index: 100;
	height: 40px;
	box-shadow: rgb(19, 19, 19) 0px 2px 4px 0px, rgb(0, 0, 0) 0px 2px 16px 0px;
	width: 40px;
	background-color: rgb(255, 72, 0);

	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 500px) {
	.s,
	.s_container {
		height: 224px;
		width: 154px;
	}

	.s_container img {
		width: 140px;
		height: 140px;
	}

	.s_name {
		font-size: 10px;
	}

	.s_artist {
		font-size: 8px;
	}
}
