/** @format */

.db {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-color: black;
	color: white;
	font-family: Helvetica;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	margin-bottom: 50px;
}

.db_container {
	display: flex;
	align-items: flex-start;
	height: 100%;
	width: 100%;
	justify-content: flex-end;
	flex: 1;
}

.sidebar {
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	width: 15%;
	transition: 1s all ease;
}

.main {
	width: 85%;
	height: 100%;
	min-height: 100vh;
	transition: 1s all ease;
}

.user {
	z-index: 100;
	width: 85%;
	height: 70px;
	z-index: 10000;
	background: transparent;
	display: flex;
	position: fixed;
	transition: all ease 0.2s;
	align-items: center;
	justify-content: flex-end;
	padding: 0px 20px;
	transition: 1s all ease;
}

@media only screen and (max-width: 1200px) {
	.sidebar {
		top: -100px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		opacity: 0;
		position: absolute;
		z-index: 1000000;
	}

	.main,
	.user {
		width: 100%;
	}
}

.sidebar_option {
	color: rgba(148, 148, 148, 0.897);
	display: flex;
	width: 100%;
	cursor: pointer;
	padding: 10px;
	margin: 10px 0px;
	align-items: center;
	border-radius: 5px;
	transition: all ease 0.2s;
	justify-content: flex-start;
	font-size: 23px;
}

.active {
	background: rgba(128, 128, 128, 0.356);
	color: white;
}

.sidebar_option:hover {
	color: white;
}

.sidebar_option div {
	margin-left: 20px;
	font-size: 14px;
	font-weight: 600;
}

.sidebarContainer {
	height: 100%;
	width: 100%;
	padding: 30px 10px;
}

.main_container {
	display: flex;
	align-items: flex-start;
	background: rgb(29, 29, 29);
	height: 100%;
	min-height: 100vh;
	justify-content: center;
}

.background {
	background: rgba(0, 0, 0, 0.829);
}

.transparent {
	background: rgba(0, 0, 0, 0.24);
}

.user_info {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.281);
	border: 1px solid black;
	transition: all ease 0.2;
	border-radius: 25px;
}

.user_info:hover {
	background: rgba(89, 90, 88, 0.315);
}

.user_img {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	overflow: hidden;
	margin: auto;
	margin-right: 20px;
}

.user_img img {
	height: 30px;
	width: 30px;
}

.user_username {
	font-size: 20px;
	font-weight: 600;
	background: transparent;
	margin-right: 20px;
}

@media only screen and (max-width: 800px) {
	.user_username {
		font-size: 14px;
		font-weight: normal;
	}

	.user {
		height: 50px;
	}
}

.sidebar_img {
	height: 30px;
	width: 30px;
	margin-left: 0px;
	overflow: hidden;
}

.sidebar_img img {
	height: 30px;
	width: 30px;
	overflow: hidden;
}

.sidebar_title {
	margin: 10px;
	font-weight: 600;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	margin-top: 70px;
}

@media only screen and (max-width: 500px) {
	.content {
		margin-top: 20px;
	}
}

.content_title {
	font-size: 30px;
	font-weight: 600;
	width: 98%;
}

@media only screen and (max-width: 350px) {
	.content_title {
		font-size: 20px;
	}
}

.show {
	display: flex;
	max-width: 100%;
	flex-direction: column;
}

.content_content {
	display: flex;
	flex-direction: row;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
	position: relative;
}

.sidebar_options:nth-child(3){
	max-height: 300px;
	height: 100%;
	overflow-y: auto;
	background-color: rgb(36, 35, 35);
}

.sidebar_options:nth-child(3)::-webkit-scrollbar{
	display: none;
}

.content_content::-webkit-scrollbar {
	display: none;
}
